:root {
	--myBlack:#191919;;
  }


body{
	color: aliceblue;
	background-color: var(--myBlack);
}
.noindent{
	text-indent: 0px;
}
p{
	text-indent: 40px;
}

header{
	text-align: center;
}

.abstract{
	flex: 1 100%;
}

blockquote {
	color: aliceblue;
	border-left: 5px solid aliceblue;
	}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
  }

ul{
	list-style-type: circle;	
}

























 /* unvisited link */
 a:link {
	color: aliceblue;
  }
  
  /* visited link */
  a:visited {
	color: aliceblue;
  }
  
  /* mouse over link */
  a:hover {
	color: aliceblue;
  }
  
  /* selected link */
  a:active {
	color: aliceblue;
  } 
  hr {
	border: 0;
	clear:both;
	display:block;
	width: 96%;               
	background-color: aliceblue;
	height: 1px;
  }